# Git 관련
.git
.gitignore

# IDE 관련
.idea
.vscode
*.iml
*.ipr
*.iws

# OS 관련
.DS_Store
Thumbs.db

# Logs
*.log

# Build 결과물 (Docker에서 다시 빌드하므로)
build/
!build/libs/*.jar

# Gradle 캐시
.gradle/

# history
.history/

# 임시 파일
*.tmp
*.temp 